html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    line-height: 1.6;
    font-size: 18px;
    scroll-behavior: smooth;
}

::-moz-selection {
    color: #ffffff;
    background: #000;
}
::selection {
    color: #ffffff;
    background: #000;
}

body::-webkit-scrollbar {
    width: 0.5rem;
}
body::-webkit-scrollbar-track {
    background: grey;
}
body::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 20rem;
}

* {
    box-sizing: border-box;
    background-color: rgb(246, 247, 248);
    color: #000;
}

img {
    max-width: 100%;
    display: block;
}
