html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

::-moz-selection {
  color: #ffffff;
  background: #000;
}
::selection {
  color: #ffffff;
  background: #000;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}
body::-webkit-scrollbar-track {
  background: grey;
}
body::-webkit-scrollbar-thumb {
  background: black;
}

* {
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
}

a {
  color: #000;
  text-decoration: underline;
}

a:hover,
a:focus {
  color: #0070f3;
  overflow: hidden;
  background: -moz-linear-gradient(
    90deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: 1s ease;
}

img {
  max-width: 100%;
  display: block;
}
