.heading2Xl {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
}

.headingXl {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
}

.headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
}

/* .headingLg::after {
    content: "";
    width: 100px;
    height: 8px;
    background: linear-gradient(
        124deg,
        #2b1de8,
        #dd00f3,
        #e8b71d,
        #e3e81d,
        #1de840,
        #2b1de8,
        #dd00f3,
        #dd00f3
    );
    border-radius: 10rem;
    background-size: 1700% 1700%;
    display: block;
    animation: coloring 27s ease infinite;
    transition: background-color 1s;
    padding-left: 2rem;
} */

@-webkit-keyframes coloring {
    0% {
        background-position: 0% 82%;
    }
    50% {
        background-position: 100% 19%;
    }
    100% {
        background-position: 0% 82%;
    }
}

@-o-keyframes coloring {
    0% {
        background-position: 0% 82%;
    }
    50% {
        background-position: 100% 19%;
    }
    100% {
        background-position: 0% 82%;
    }
}

@-moz-keyframes coloring {
    0% {
        background-position: 0% 82%;
    }
    50% {
        background-position: 100% 19%;
    }
    100% {
        background-position: 0% 82%;
    }
}

@keyframes coloring {
    0% {
        background-position: 0% 82%;
    }
    50% {
        background-position: 100% 19%;
    }
    100% {
        background-position: 0% 82%;
    }
}

.headingMd {
    font-size: 1.2rem;
    line-height: 1.5;
}

.borderCircle {
    border-radius: 9999px;
}

.colorInherit {
    color: inherit;
}

.padding1px {
    padding-top: 1px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.listItem {
    margin: 0 0 1.25rem;
    border: 1px solid;
    border-radius: 0.2rem;
    padding: 2rem;
    box-shadow: 6px 6px #000;
    transition: box-shadow 0.2s;
}

.listItem a {
    text-decoration: none;
}

.listItem:hover {
    cursor: pointer;
}

.listItem:hover a {
    color: #0070f3;
    overflow: hidden;
    background: -moz-linear-gradient(
        90deg,
        rgba(63, 94, 251, 1) 0%,
        rgba(252, 70, 107, 1) 100%
    );
    background: linear-gradient(
        90deg,
        rgba(63, 94, 251, 1) 0%,
        rgba(252, 70, 107, 1) 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: 1s ease;
}

.lightText {
    color: #666;
}

.socialsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 1.2rem;
}

.socialsContainer a {
    padding-left: 5px;
}

.buttonsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.microbuttons {
    appearance: none;
    font-size: 1rem;
    font-weight: 600;
    background-color: transparent;
    padding: 0.2rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    margin: 0.2rem;
    border: 3px solid;
    border-bottom-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    border-top-left-radius: 0.5rem;
    outline: none;
    cursor: pointer;
    color: #8d8d8d;
}

.microbuttonsSelected {
    appearance: none;
    font-size: 1rem;
    font-weight: 600;
    background-color: transparent;
    padding: 0.2rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    margin: 0.2rem;
    border: 3px solid;
    border-bottom-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    border-top-left-radius: 0.5rem;
    outline: none;
    cursor: pointer;
    border-color: #000;
    color: #000;
    overflow: hidden;
    /* background: -moz-linear-gradient(
        90deg,
        rgba(63, 94, 251, 1) 0%,
        rgba(252, 70, 107, 1) 100%
    );
    background: linear-gradient(
        90deg,
        rgba(63, 94, 251, 1) 0%,
        rgba(252, 70, 107, 1) 100%
    ); */
    background-clip: text;
    -webkit-background-clip: text;
    /* -webkit-text-fill-color: transparent; */
    background-size: 200% 100%;
    background-position: 100%;
    box-shadow: 1.5px 4px #000;
}

.textContainer{
    animation: fadeIn ease .5s;
}

.textContainerMore{
    animation: fadeIn ease .5s;
    padding-bottom: 6rem;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@-moz-keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@-o-keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media (max-width: 700px) {
    .headingLg::after {
        animation: coloring 15s ease infinite;
    }
    .textContainerMore{
        padding-bottom: 0;
    }
}
